<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iTruckersCoDriver.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>8</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>879637E7B769670D0D65D8F079CA685DC50A3371</string>
				<key>dateExpires</key>
				<string>6/10/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>879637E7B769670D0D65D8F079CA685DC50A3371</string>
						<key>dateExpires</key>
						<string>6/10/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>965RA266P3.clarkdjcr.iTruckersCoDriver.LoadShareExtension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>965RA266P3</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.clarkdjcr.iTruckersCoDriver</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>LoadShareExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>d3375cb5-e3c7-43c2-950d-0d10c03cd8bc</string>
						<key>dateExpires</key>
						<string>6/10/27</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: clarkdjcr.iTruckersCoDriver.LoadShareExtension</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>965RA266P3</string>
						<key>name</key>
						<string>Donald Clark</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>965RA266P3.clarkdjcr.iTruckersCoDriver</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.healthkit</key>
				<true/>
				<key>com.apple.developer.healthkit.access</key>
				<array/>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.clarkdjcr.iTruckersCoDriver</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudKit</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>965RA266P3</string>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>965RA266P3.clarkdjcr.iTruckersCoDriver</string>
				<key>com.apple.developer.weatherkit</key>
				<true/>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.clarkdjcr.iTruckersCoDriver</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>iTruckersCoDriver.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>73f69480-40f7-4719-9600-73eb5f2022b1</string>
				<key>dateExpires</key>
				<string>6/10/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: clarkdjcr.iTruckersCoDriver</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>965RA266P3</string>
				<key>name</key>
				<string>Donald Clark</string>
			</dict>
			<key>versionNumber</key>
			<string>2.0</string>
		</dict>
	</array>
</dict>
</plist>
